type hal_cameraHIDL_default, domain, mlstrustedsubject;
binder_call(cameraserver, hal_cameraHIDL_default)
binder_call(system_server, hal_cameraHIDL_default)
