on boot
    # Fingerprint
    chown system system /sys/devices/platform/soc/soc:goodix_fp/proximity_state

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

    # OOS Camera
    mkdir /data/misc/aosp 0770 cameraserver audio
    write /data/misc/aosp/client_package_name 0
    chown cameraserver audio /data/misc/aosp/client_package_name
    chmod 0644 /data/misc/aosp/client_package_name

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service cvphalservice /system/bin/true
    disabled

service dashd /system/bin/dashd
    class core
    critical
    group root system

service factory-hal-1-0 /system/bin/true
    disabled

service oneplus_brain_service /system/bin/true
    disabled
